.container {
  width: 100%;
  padding: 50px 80px 80px;
  color: #fff;
}

.row1 {
  background-color: #192f59;
}

.col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.col2 {
  overflow: hidden;
  padding: 0px;
}

.col2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.col1 h4 {
  color: #fff;
}
